    .btn-outline-evai {
    border-color: #4499BB;
    color: #4499BB;
}

.btn-outline-evai:hover {
    background-color: #4499BB;
    color: #FFFFFF;
}

.btn-outline-evai { 
    border-radius: 50rem; /* Añadir redondez extrema para el estilo pill */
}
    .border-dashed {
        border-style: dashed !important;
    }
    .hover-scale:hover {
        transform: scale(1.02);
        transition: transform 0.2s;
    }
    /* Ajuste para inputs de solo lectura visual (estilo light) */
    .form-control:focus {
        border-color: #4499bb;
        box-shadow: 0 0 0 0.25rem rgba(68, 153, 187, 0.25);
    }