.btn-outline-evai {
    border-color: #4499BB;
    color: #4499BB;
    border-radius: 50rem;
}

.btn-outline-evai:hover {
    background-color: #4499BB;
    color: #FFFFFF;
}


.border-dashed {
    border-style: dashed !important;
}

.hover-scale:hover {
    transform: scale(1.02);
    transition: transform 0.2s;
}

.form-control:focus {
    border-color: #4499bb;
    box-shadow: 0 0 0 0.25rem rgba(68, 153, 187, 0.25);
}